<div class="overons">
    <div class="row">
        <div class="col-md-12">
            <p>Wie zijn wij?</p>

            <p>‘Laat je horen!’ geeft gebruikers de mogelijkheid om zelf visuele enquêtes te maken, met gebruik van
                plaatjes
                uit de database, internet of vanuit hun eigen computer. Op deze manier kunnen ze hun deelnemers een
                visueel
                aantrekkelijke enquêtes aanbieden,
                waardoor de respons groter
                kan worden.</p>

            <p>Wilt u meer informatie of heeft u vragen? Neem dan contact met ons op!</p>

            <p>Het team van Laat je horen!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img src="../images/overons/nadia.png">
            <p>Nadia van den Bosch</p>
        </div>
        <div class="col-md-2">
            <img src="../images/overons/edo.png">
            <p>Edo Spijker</p>
        </div>
        <div class="col-md-2">
            <img src="../images/overons/koen.png">
            <p>Koen Jans</p>
        </div>
        <div class="col-md-2">
            <img src="../images/overons/dylan.png">
            <p>Dylan Hesse</p>
        </div>
        <div class="col-md-2">
            <img src="../images/overons/yordi.png">
            <p>Yordi Kathman</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>