<!--<h2><a href="/#/answer">Answers</a></h2>-->
<div class="aDetail">
    <table>
        <!--<tr>-->
        <!--<td>postedBy:</td>-->
        <!--<td><input type="text" data-ng-model="answer.doc.postedBy" required value=""></td>-->
        <!--</tr>-->

        <tr>
            <td>Antwoord:</td>
            <td><input type="text" data-ng-model="answer.doc.answer" required value=""></td>
        </tr>
    </table>

    <!--<button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>-->

    <button class="btn" role="button" data-ng-click="save(undefined, question._id)">Voeg antwoord toe</button>
</div>

<p class="btnBijschrift">Antwoord aanmaken
    <a onclick="window.crud.showElement('aDetail', 'newAbtn', true);">
        <button class="btn addObject newAbtn" role="button"></button>
    </a>
</p>