<h2><a href="/#/enquete">Enquête</a></h2>

<div class="eOverview">
    <div id="EnqDetailTable" class="row">
        <div class="col-md-12">
            <input type="text" data-ng-model="enquete.doc.poll" required value="" placeholder="Titel">
        </div>
        <div class="col-md-12">
            <p>Je mag nu eindelijk aan de slag! Voordat je begint vertellen we eerst een aantal
                mogelijkheden. Als eerst kun je een intro
                schrijven die de invullers kunnen lezen voordat ze de enquête daadwerkelijk gaan invullen. Daarna kun je
                je
                eerste vraag
                gaan aanmaken. Via het dropdown menu kun je kieze wat voor soort vraag je wilt gebruiken. Wanneer je een
                vraag
                aanmaakt krijg je de keuze uit tekst, afbeelding en video toevoegen. Op deze manier kun je er voor
                zorgen
                dat je enquête
                visueel aantrekkelijk en persoonlijk wordt. De keuze is vrij, alleen worden afbeeldingen met video
                afgeraden. Voor de rest
                zijn alle combinatie mogelijk. Na het aanmaken van de vraag kun je antwoorden toevoegen. Succes!</p>
        </div>
        <textarea rows="5" cols="50" data-ng-model="enquete.doc.intro" required value=""
                  class="col-md-8" placeholder="Schrijf hier je intro"></textarea>
        <div class="mediaContainer col-md-4"> <!-- data-ng-controller="MediaCtrl" -->
            <!--data-ng-include data-src="getPartial()"-->
            <div flow-init="{singleFile:true}"
                 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">

                <div class="preview">
                    <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                        <img class="enqueteMedia" flow-img="$flow.files[0]" src="">
                    </div>
                </div>

                <div class="controlPanel">
                    <div class="btnContainer">
                                <span class="upload btn" ng-show="!$flow.files.length" flow-btn="">Select image<input
                                        type="file"
                                        style="visibility: hidden; position: absolute;"></span>
                                <span class="upload btn" ng-show="$flow.files.length" flow-btn="">Change<input
                                        type="file"
                                        style="visibility: hidden; position: absolute;"></span>
                                <span class="upload btn btn-danger" ng-show="$flow.files.length"
                                      ng-click="$flow.cancel()">Remove</span>
                    </div>
                    <p class="instructionText">
                        Only PNG,GIF,JPG,JEPG files allowed.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="Questions">
        <div class="checkbox" class="input-group" data-ng-repeat="question in enquete.questions">
            <div class="questionBox">
                <div class="row">
                    <p class="col-md-12 questionHeader">Vraag {{enquete.questions.indexOf(question) + 1}}:</p>
                    <div class="col-md-7">
                        <textarea rows="5" cols="50" data-ng-model="question.question" required
                                  value=""></textarea>
                        <button class="btn delete" role="button" ng-click="removeQuestion(question._id);">
                        </button>
                    </div>
                    <div class="mediaContainer col-md-5"> <!-- data-ng-controller="MediaCtrl" -->
                        <!--data-ng-include data-src="getPartial(question._id)"-->
                        <div flow-init="{singleFile:true}"
                             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">

                            <div class="preview">
                                <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                                    <img class="questionMedia" flow-img="$flow.files[0]" src="">
                                </div>
                            </div>

                            <div class="controlPanel">
                                <div class="btnContainer">
                                <span class="upload btn" ng-show="!$flow.files.length" flow-btn="">Select image<input
                                        type="file"
                                        style="visibility: hidden; position: absolute;"></span>
                                <span class="upload btn" ng-show="$flow.files.length" flow-btn="">Change<input
                                        type="file"
                                        style="visibility: hidden; position: absolute;"></span>
                                <span class="upload btn btn-danger" ng-show="$flow.files.length"
                                      ng-click="$flow.cancel()">Remove</span>
                                </div>
                                <p class="instructionText">
                                    Only PNG,GIF,JPG,JEPG files allowed.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--sort:-->
                    <!--<input type="text" data-ng-model="question.sort" required value="">-->
                </div>
                <div class="row answerContainer">
                    <div class="checkbox col-md-6" class="input-group" data-ng-repeat="answer in question.answers">
                        <div class="answerBox">
                            <input type="text" data-ng-model="answer.answer" required value="">
                            <button class="btn delete" role="button" ng-click="removeAnswer(answer._id);">
                            </button>
                            <!--<button class="btn" role="button"-->
                            <!--ng-click="deleteAnswer(answer._id, answer.questionID);">--->
                            <!--</button>-->
                            <!--<button class="btn" role="button"-->
                            <!--ng-click="saveAnswer(answer._id, answer.questionID);">Opslaan-->
                            <!--</button>-->
                        </div>
                    </div>
                </div>
                <div data-ng-controller="AnswerDetailCtrl" data-ng-include data-src="getPartial()"
                     class="newAnswer"></div>
            </div>
        </div>
        <div data-ng-controller="QuestionDetailCtrl" data-ng-include data-src="getPartial()"
             class="newQuestion"></div>
    </div>

    <div class="btnContainer">
        <button class="btn delete" role="button" data-ng-click="delete()">Verwijder</button>
        <button class="btn save" role="button" data-ng-click="save()">Opslaan</button>
        <!--<button id="fillInView" class="btn fillIn" role="button" data-ng-click="fillInView()">fillIn</button>-->
        <!--<button id="publishPage" class="btn publiceren" role="button" data-ng-click="publishPage()">Publiceren-->
        <button class="btn publiceren publishPage" role="button" onclick="window.crud.displayOverlay()">
            Publiceren
        </button>
    </div>

    <div class="overlay">
        <div class="publish">
            <p>Opties voor publicatie</p>
            <br>
            <p>Geef hieronder aan welke opties  je wilt gaan gebruiken bij het publiceren van de enquête</p>
            <br>

            <div class="publishRow1">  <input type="checkbox"><p>Resultaten tonen</p></div>
            <div class="publishRow1">  <input type="checkbox"><p>Mogelijkheid tot delen van Social media</p></div>
            <div class="publishRow1">  <input type="checkbox"><p>Mogelijkheid om discussie te voeren</p></div>
            <br>
            <p>{{enquete.doc.poll}}</p>
            <br>
            <p>Manieren van publiceren</p>
            <br>
            <table class="publishTable">

            <tr class="publishRow2"> <td class="publishP"> <p>URL</p> </td>           <td class="publishBTN"> <button class="btn publiceren publishPage" role="button" data-ng-click="">kopieer URL</button></td></tr>
            <tr class="publishRow2"> <td class="publishP"><p>Embedded code</p></td>          <td class="publishBTN">   <button class="btn publiceren publishPage" role="button" data-ng-click="">kopieer code</button></td></tr>
            <tr class="publishRow2"> <td class="publishP"><p>mail</p>   </td>        <td class="publishBTN">  <button class="btn publiceren publishPage" role="button" data-ng-click="">mail lijst</button></td></tr>

            </table>

            <button class="btn publiceren publishPage" role="button" data-ng-click="publishPage()">Publiceren
            </button>

            <button class="btn" onclick="window.crud.removeOverlay()">Verder</button>
        </div>
    </div>
</div>