<div id="enqueteOverview">
    <h2>Mijn enquêtes</h2>
    <span>
        Wanneer je een enquete wilt bekijken of wijzigen dan kun je via de onderstaande acties naar de gekozen enquete!
        Via deze manier kun je je enquete veranderen, verwijderen of inzien. Ook kun je weer aan de slag gaan met een nieuw
        onderzoek! Heb je er al zin in?
    </span>

    <div class=row>
        <div data-ng-repeat="enquete in enquete.doc" class="col-md-3">
            <a href="/#/enquete/{{enquete._id}}/overview">
                <div class="greenContainer">
                    <img class="overviewLogo" src="">
                    <span>{{enquete.poll}}</span>
                </div>
            </a>
            <!--<a href="/#/enquete/{{enquete._id}}/result">-->
            <!--<button class="btn btnCustomEnquete" role="button">Resultaten</button>-->
            <!--</a>-->
        </div>
        <div data-ng-controller="EnqueteListCtrl" class="Enew col-md-3">
            <a href="#/templates"> <!-- onclick="window.crud.showElement('EDetail', 'newEbtn');"> -->
                <button class="btn addObject newEbtn" role="button"></button>
            </a>
        </div>
        <!--<div data-ng-controller="EnqueteListCtrl" data-ng-include data-src="getPartial()" class="Enew col-md-3"></div>-->
    </div>
</div>