<div ng-controller="AnswerDetailCtrl"></div>

<h2><a href="/#/enquete">Enquête invullen</a></h2>

<h3>{{enquete.doc.poll}}</h3>

<div id="enqueteWrapper" data-ng-repeat="question in enquete.questions">
    <h4>{{question.question}}</h4>

    <form>
        <div class="sectionWrapper" data-ng-repeat="answer in question.answers">
            <input type="radio" name="answer" data-ng-click="check(answer)"
                   value={{answer.answer}}>{{answer.answer}}<br>
            <br>

        </div>
    </form>
</div>
<button class="btn btn-primary btn-lg" role="button" data-ng-click="saveEnquete()">Opslaan</button>