<!--<h2><a href="/#/enquete">Enquête invullen</a></h2>-->

<div class="resultHeader">
<h3>{{enquete.doc.poll}}</h3>
</div>

        <div class="introText">
        <p>
           Bedankt voor het invullen van de enquête! Hieronder zie je de gemiddelde resultaten van de deelnemers.
<br>
            Maar wat vind jij eigenlijk van sinterklaas en zwarte piet? Laat je horen! en deel jouw mening met andere!
        </p>
        </div>
<div class="row">
    <div class="col-md-6">
        <div class="enqueteWrapper row" data-ng-repeat="question in enquete.questions"> <!-- row -->
            <div class="sectionWrapper1  col-md-12">
                <h4>{{question.question}}</h4>

    <div class="checkboxResult" data-ng-repeat="answer in question.answers">
                    <h5>{{answer.answer}}</h5>
                    <h5>{{answer.chosenBy.length}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="sectionWrapper  col-md-6">
        <img src="../images/resultaten.png">
    </div>
</div>