<!--<h2><a href="/#/enquete">Enquête invullen</a></h2>-->

<div class="row">
    <!--<div class="col-md-6">-->
        <!--<div class="enqueteWrapper row" data-ng-repeat="question in enquete.questions"> &lt;!&ndash; row &ndash;&gt;-->
            <!--<div class="sectionWrapper1  col-md-12">-->
                <!--<h4>{{question.question}}</h4>-->

    <!--<div class="checkboxResult" data-ng-repeat="answer in question.answers">-->
                    <!--<h5>{{answer.answer}}</h5>-->
                    <!--<h5>{{answer.chosenBy.length}}</h5>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="sectionWrapper  col-md-6">
        <img src="../images/resultaten-2.png">
    </div>
</div>