<!--<h2><a href="/#/enquete">Enquête</a></h2>-->

<div class="EDetail">
    <!--<table id="EnqDetailTable">-->
        <!--<tr>-->
            <!--<td>Titel:</td>-->
            <!--<td><input type="text" data-ng-model="enquete.doc.poll" required value=""></td>-->
            <!--<td>-->
                <!--<button class="btn" role="button" data-ng-click="save()">Opslaan</button>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
</div>

<div class="eOverview">
    <div id="EnqDetailTable" class="row">
        <div class="col-md-12">
            <input type="text" data-ng-model="enquete.doc.poll" required value="" placeholder="Titel">
        </div>
        <div class="col-md-12">
            <p>Je mag nu eindelijk aan de slag! Voordat je begint vertellen we eerst een aantal
                mogelijkheden. Als eerst kun je een intro
                schrijven die de invullers kunnen lezen voordat ze de enquête daadwerkelijk gaan invullen. Daarna kun je
                je
                eerste vraag
                gaan aanmaken. Via het dropdown menu kun je kieze wat voor soort vraag je wilt gebruiken. Wanneer je een
                vraag
                aanmaakt krijg je de keuze uit tekst, afbeelding en video toevoegen. Op deze manier kun je er voor
                zorgen
                dat je enquête
                visueel aantrekkelijk en persoonlijk wordt. De keuze is vrij, alleen worden afbeeldingen met video
                afgeraden. Voor de rest
                zijn alle combinatie mogelijk. Na het aanmaken van de vraag kun je antwoorden toevoegen. Succes!</p>
        </div>
        <textarea rows="5" cols="50" data-ng-model="enquete.doc.intro" required value=""
                  class="col-md-8" placeholder="Schrijf hier je intro"></textarea>

        <div class="mediaContainer col-md-4"> <!-- data-ng-controller="MediaCtrl" -->
            <!--data-ng-include data-src="getPartial()"-->
            <div flow-init="{singleFile:true}"
                 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">

                <div class="preview">
                    <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                        <img class="enqueteMedia" flow-img="$flow.files[0]" src="">
                    </div>
                </div>

                <div class="controlPanel">
                    <div class="btnContainer">
                                <span class="upload btn" ng-show="!$flow.files.length" flow-btn="">Select image<input
                                        type="file"
                                        style="visibility: hidden; position: absolute;"></span>
                                <span class="upload btn" ng-show="$flow.files.length" flow-btn="">Change<input
                                        type="file"
                                        style="visibility: hidden; position: absolute;"></span>
                                <span class="upload btn btn-danger" ng-show="$flow.files.length"
                                      ng-click="$flow.cancel()">Remove</span>
                    </div>
                    <p class="instructionText">
                        Only PNG,GIF,JPG,JEPG files allowed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn" role="button" data-ng-click="save()">Opslaan</button>
<!--<a href="#/templates"> &lt;!&ndash; onclick="window.crud.showElement('EDetail', 'newEbtn');"> &ndash;&gt;-->
    <!--<button class="btn addObject newEbtn" role="button"></button>-->
<!--</a>-->
