<div id="enqueteOverview2">
    <div class="row">
        <div class="col-dm-12">
            <h2>{{enquete.doc.poll}}</h2>
            <span>Wil je iets wijzigen, je resulaten bekijken, enquete inzien of deze verwijderen?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="#/enquete/{{enquete.doc._id}}">
                <div>
                    <img src="../images/editor/pen-15.png">
                    <span>Wijzigen</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <button role="button" data-ng-click="remove()">
                <div>
                    <img src="../images/editor/prullenbakLarge.png">
                    <span>Verwijderen</span>
                </div>
            </button>
        </div>
        <div class="col-md-3">
            <a href="#/enquete/{{enquete.doc._id}}/result">
                <div>
                    <img src="../images/editor/diagram.png">
                    <span>Resultaten inzien</span>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#/enquete/{{enquete.doc._id}}/fill">
                <div>
                    <img src="../images/editor/zoom.png">
                    <span>Preview</span>
                </div>
            </a>
        </div>
    </div>
</div>