<h2>Groups</h2>
<input ng-model="query" placeholder="type to start searching...">

<ul>
    <li data-ng-repeat="group in group.doc | filter:query"><a href="/#/group/{{group._id}}">{{group.name}}, {{group.hostname}}</a></li>
</ul>

<a href="/#/group/0/"><button class="btn btn-primary btn-lg" role="button">Nieuwe groep aanmaken</button></a>