<h2><a href="/#/group">Groups</a></h2>

<form name="requestForm">

    <table>
        <tr><td>Name: </td> <td><input type="text" data-ng-model="group.doc.name" required value=""></td></tr>

        <tr><td>Description: </td> <td><input type="text" data-ng-model="group.doc.description" required value=""></td></tr>
    </table>

    <button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>

    <button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Save</button>

</form>