<!--<h1><a href="/#/">Welkom!</a></h1>-->

<!--<p>Welkom bij:</p>-->
<!--<h3>laat je horen!</h3>-->

<a href="/#/registreren" class="link">
    <button type="submit"
            style="padding: 0 10px; outline: none; font-family: 'Abadi MT Condensed Light'; font-size: 24pt; border-radius: 5px; position: absolute; top: 30%; left: 50%; background-color: rgb(59, 59, 59); color: #ffffff">
        Let's start!
    </button>
</a>
<a href="/#/hoewerkthet">
    <img src="../images/home/iconen.png" style="position: absolute; bottom: 0; width: 40%">
</a>