
<form class="navbar-form navbar-right" role="form">
    <div class="form-group">
    <input type="text" placeholder="Gebruikersnaam" data-ng-model="loginForm.username" data-ng-init="" class="form-control loginFormInput">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Wachtwoord" data-ng-model="loginForm.password" data-ng-init="" class="form-control loginFormInput">
    </div>
    <button data-ng-click="login(loginForm)" class="btn login">Aanmelden</button>
    <p>{{msg}}</p>
</form>