<div id="nonLoggedMenu" style="display: block;">
    <ul class="dropdown-menu" style="left: 90px;">
        <li><a href="/#/">Home</a></li>
        <li class="divider"></li>
        <li><a href="/#/tour">Tour</a></li>
        <!-- TODO tour -->
        <li class="divider"></li>
        <li><a href="/#/registreren">Registreren</a></li>
        <li class="divider"></li>
        <li><a href="/#/overons">Over ons</a></li>
        <li class="divider"></li>
        <li><a href="/#/contact">Contact</a></li>
        <!-- TODO contact -->
        <li class="divider"></li>
        <li><a href="/#/prijzen">Prijzen</a></li>
        <!-- TODO prijzen -->
    </ul>
</div>
<div id="loggedMenu" style="display: none;">
    <ul class="dropdown-menu" style="left: 90px;">
        <li><a href="/#/">Home</a></li>
        <li class="divider"></li>
        <li><a href="/#/tour">Tour</a></li>
        <!-- TODO tour -->
        <li class="divider"></li>
        <li><a href="/#/templates">Templates</a></li>
        <!--<li class="divider"></li>-->
        <!--<li><a href="/#/user">Gebruikers</a></li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a href="/#/group">Groepen</a></li>-->
        <li class="divider"></li>
        <li><a href="/#/enquete">Mijn enquêtes</a></li>
        <li class="divider"></li>
        <li><a data-ng-controller="UserLoginCtrl" href="/#/user/{{_id}}"> Mijn account</a></li>
        <li class="divider"></li>
        <li><a href="/#/overons">Over ons</a></li>
        <li class="divider"></li>
        <li><a href="/#/contact">Contact</a></li>
        <!-- TODO contact -->
        <li class="divider"></li>
        <li><a href="/#/prijzen">Prijzen</a></li>
        <!-- TODO prijzen -->
    </ul>
</div>