<!--<h2><a href="/#/Question">Question</a></h2>-->
<div class="qDetail">
    <table>
        <tr>
            <!--<td>-->
                <!--Vraag:-->
            <!--</td>-->
            <td>
                <!--<input type="text" data-ng-model="question.doc.question" required value="">-->
                <textarea class="col-md-12" rows="5" cols="50" data-ng-model="question.doc.question" required
                          value="" placeholder="Schrijf hier uw vraag"></textarea>
            </td>
        </tr>

        <!--<tr>-->
        <!--<td>sort:</td>-->
        <!--<td><input type="text" data-ng-model="question.doc.sort" required value=""></td>-->
        <!--</tr>-->
    </table>

    <!--<button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>-->

    <button class="btn" role="button" data-ng-click="save()">Toevoegen</button>
</div>

<!--<a onclick="window.crud.showElement('qDetail', 'newQbtn');">-->
<!--<button class="btn addObject newQbtn" role="button">+</button>-->
<!--</a>-->

<div class="row">
    <p>Vraag toevoegen:</p>

    <div class="col-md-4">
        <a onclick="window.crud.showElement('qDetail');">
            <div class="tekst">
                <img src="../images/editor/tekst.png">
                <p>+ Tekst toevoegen</p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a onclick="window.crud.showElement('qDetail');">
            <div class="foto">
                <img src="../images/editor/foto.png">
                <p>+ Foto toevoegen</p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <!--<a onclick="window.crud.showElement('qDetail');">-->
        <div class="video">
            <img src="../images/editor/video.png">
            <p>+ Video toevoegen</p>
        </div>
        <!--</a>-->
    </div>
</div>