<div id="registreren">
    <h2>Registreer nu voor een gratis account</h2>
    <table>
        <tr>
            <td><span>Voornaam*</span>
                <input type="text" data-ng-model="user.doc.firstname" required value=""></td>

            <td><span>Achternaam*</span><input type="text" data-ng-model="user.doc.surname" required value=""></td>
        </tr>
        <tr>
            <td><span>Gebruikersnaam*</span><input type="text" data-ng-model="user.doc.username" required value=""></td>

            <td><span>E-mailadres*</span><input type="text" data-ng-model="user.doc.email" required value=""></td>
        </tr>
        <tr>
            <td><span>Wachtwoord*</span>
                <input type="password" data-ng-model="user.doc.password" required value="" id="pw1">
            </td>
            <td><span>Herhaal wachtwoord*</span><input type="password" data-ng-model="user.doc.password2"
                                                       password-match="user.doc.password"
                                                       required value="" id="pw2">
            </td>
        </tr>
        <tr>
            <td colspan="2"><span class="errorMsg" id="passwordMsg" style="display: none;">De ingevulden wachtwoorden komen niet overeen.</span>
            </td>
        </tr>
    </table>
    <ul id="strength" check-strength="user.doc.password" data-ng-model="user.doc.password"></ul>
    <button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Registreer ></button>
</div>