<h2><a href="/#/user">Users</a></h2>

<table>
    <tr><td>username: </td> <td><input type="text" data-ng-model="user.doc.username" required value=""></td></tr>

    <tr><td>email: </td> <td><input type="text" data-ng-model="user.doc.email" required value=""></td></tr>

    <tr><td>Password: </td> <td><input type="text" data-ng-model="user.doc.password" required value="" ></td></tr>

    <tr><td>sex: </td> <td><input type="text" data-ng-model="user.doc.sex" ></td></tr>

    <tr><td>age: </td> <td><input type="text" data-ng-model="user.doc.age"  ></td></tr>

</table>


</div>
<button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>

<button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Save</button>

</form>
