<div class="resultHeader">
    <h3>SINTERKLAAS EN ZWARTE PIET</h3>
</div>
<div class="sinterwrapper">
    <div class="row">
        <div class="introText col-md-6">
            <p>
                Na veel en verschillende discussies over wel of geen zwarte piet
                zijn, gaan wij op zoek naar de ideale piet. De vragen hieronder
                bevatten algemene vragen over pieten en vervolgens komt het
                uiterlijk aan bod. Daarna kun je er op los slaan en je mening geven!
            </p>
        </div>
        <div class="col-md-6">
            <img src="../images/zwartePieten/De_Telegraaf_logo.png">
        </div>
    </div>
    <div class="row vraag">
        <div class="vraagtext col-md-6">
            <p>
                Vraag 1:
                Over de herkomst van Zwarte Piet zijn de meningen
                verdeeld. Feitelijke documenten zijn onbekend. Vast staat
                dat de knecht die later de naam Zwarte Piet kreeg, in
                1850 is geïntroduceerd. Voor die tijd had Sinterklaas in
                Nederland en België voor zover bekend geen helper.
                Maar waarom kreeg de knecht een andere benaming?
            </p>
        </div>
        <div class="col-md-6">
            <img src="../images/zwartePieten/pepernoten.png">
        </div>
    </div>

    <div class="row vraag">
        <div class="col-md-6">
            <input type="radio">

            <p>Hij zou oorspronkelijk een schoorsteenveger zijn,
                en van het roet zwart zijn geworden.</p>
            <img src="../images/zwartePieten/schoorsteenn.png">
        </div>
        <div class="col-md-6">
            <input type="radio">

            <p>Hij zou een Ethiopische zwarte slaaf Piter zijn die
                door de heilige Nicolaas op een slavenmarkt in
                Myra werd vrijgekocht.</p>
            <img src="../images/zwartePieten/pieten.png">
        </div>
    </div>

    <div class="row vraag">
        <div class="vraagtext">
            <p>Vraag 2 <br>
                Welke huidskleur heeft jouw ideale Piet</p>

            <div class="row">
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Bruin_ZwarteKrullen_OorbellenJ.png">
                </div>
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Geel_ZwarteKrullen_OorbellenJ.png">
                </div>
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Groen_ZwarteKrullen_OorbellenJ.png">
                </div>
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Rood_ZwarteKrullen_OorbellenJ.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row vraag">
        <div class="vraagtext">
            <p>Vraag 3 <br>
                Welk kapsel heeft jouw ideale piet
            </p>

            <div class="row">
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Bruin_ZwarteKrullen_OorbellenJ.png">
                </div>
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Bruin_BlondHaar_OorbellenJ.png">
                </div>
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Bruin_RoodHaar_OorbellenJ.png">
                </div>
                <div class="col-md-3">
                    <input type="radio">
                    <img src="../images/zwartePieten/Bruin_BruinHaar_OorbellenJ.png">
                </div>
            </div>
        </div>
    </div>
    <a href="/#/enquete/5391c9fec502c32e1658e5c4/result">
        <button>verstuur!</button>
    </a>
</div>