<div class="templateContainer">
    <div class="row">
        <div class="col-md-12">
            <p id="newAccountMessage" style="display: none">Gefeliciteerd! Het aanmaken van uw account is gelukt! Ga nu aan de slag</p>
            <a href="#/templates" onclick="$('#templates').goTo();"><img src="../images/templates/iconen-2.png"></a>
        </div>
    </div>
    <div class="templates">
        <div class="row">
            <div class="col-md-12">
                <p>Selecteer hier uw template en make it your own!</p>
            </div>
        </div>
        <div id="templates" class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <!--<a href="/#/enquete/0">-->
                <a href="/#/newEnquete">
                    <img src="../images/templates/template.png">
                </a>
            </div>
            <div class="col-md-2">
                <img src="../images/templates/cofee.png" style="-webkit-filter: grayscale(1); filter: grayscale(1);">
            </div>
            <div class="col-md-2">
                <img src="../images/templates/3.png" style="-webkit-filter: grayscale(1); filter: grayscale(1);">
            </div>
            <div class="col-md-2">
                <img src="../images/templates/money.png" style="-webkit-filter: grayscale(1); filter: grayscale(1);">
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>