<div id="uitleg">
    <h2>Hoe werkt het?</h2>
    <span>Laat je Horen! Bied je de mogelijkheid om je eigen visuele enquete samen te stellen
        waardoor de respons kan stijgen en betere resultaten krijgt.
        Dit alles komt samen met Laat je Horen!
    </span>

    <div class="row features">
        <div class="col-md-4">
            <img class="needsOwnMarginTop" src="../images/uitleg/laptop.png">

            <h2>Gemakkelijk enquetes maken!</h2>
            <span>
                Met Laat je Horen! kun je leuke visuele enquetes
                op een simpele manier in elkaar zetten. Met de
                verschillende antwoordmogelijkheden creeer je
                een eigen stijl.
            </span>
        </div>
        <div class="col-md-4">
            <img class="needsOwnMarginTop" src="../images/uitleg/ontwerpen.png">

            <h2>Aangepast design</h2>
            <span>
                Door het kiezen van een template heb je een
                basis opzet. Voeg hierbij je eigen logo,
                bedrijfsnaam en afbeeldingen toe. Pas je URL
                aan en stuur deze naar de respondanten.
            </span>
        </div>
        <div class="col-md-4">
            <img class="needsOwnMarginTop" src="../images/uitleg/locatie.png">

            <h2>Beheer resultaten</h2>
            <span>
                Na het maken van de enquete ben je vast
                nieuwschierig naar alle resultaten. Je kan deze
                bekijken en bewaren met je eigen account. Je
                kan ze ook publiceren of delen met je omgeving.
            </span>
        </div>
    </div>
    <div class="row promises">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img src="../images/uitleg/slotje.png">
            <span>
                Je kunt erop vertrouwen dat wij je
                gegevens veilig en privé houden.
            </span>
        </div>
        <div class="col-md-4">
            <img src="../images/uitleg/praatwolkje.png">
            <span>
                Ons klantondersteuningsteam bestaat uit een
                aantal van de meest hardwerkende professionals!
            </span>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>