<div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
     class="ng-scope">

    <div class="preview">
        <!--<div class="thumbnail ng-hide" ng-show="!$flow.files.length">-->
            <!--<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">-->
        <!--</div>-->
        <div class="thumbnail ng-hide" ng-show="$flow.files.length">
            <img class="media" flow-img="$flow.files[0]" src="{{media.doc.path}}">
        </div>
        <!--<input type="text" data-ng-model="media.doc.name" required value="">-->
    </div>

    <div class="controlPanel">
        <div class="btnContainer">
        <span class="upload btn" ng-show="!$flow.files.length" flow-btn="">Select image<input type="file"
                                                                                              style="visibility: hidden; position: absolute;"></span>
        <span class="upload btn" ng-show="$flow.files.length" flow-btn="">Change<input type="file"
                                                                                       style="visibility: hidden; position: absolute;"></span>
            <span class="upload btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">Remove</span>
            <!--<button class="upload btn" role="button" data-ng-click="save(question._id)">Opslaan</button>-->
        </div>
        <p class="instructionText">
            Only PNG,GIF,JPG,JEPG files allowed.
        </p>
    </div>
</div>