<h2>User</h2>
<input ng-model="query" placeholder="type to start searching...">

<ul>
    <li data-ng-repeat="user in user.doc | filter:query"><a href="/#/user/{{user._id}}">{{user.username}}, {{user.email}}</a></li>
</ul>

<a href="/#/user/0/"><button class="btn btn-primary btn-lg" role="button">Nieuwe gebuiker aanmaken</button></a>