<div id="mijnAccount">
    <h2><a href="/#/user">Mijn account</a></h2>
    <span>Wijzig je algemene accountinstellingen</span>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">Voornaam:</div>
                <div class="col-md-8"><input type="text" data-ng-model="user.doc.firstname" required value=""></div>
            </div>
            <div class="row">
                <div class="col-md-4">Achternaam:</div>
                <div class="col-md-8"><input type="text" data-ng-model="user.doc.surname" required value=""></div>
            </div>
            <div class="row">
                <div class="col-md-4">Gebruikersnaam:</div>
                <div class="col-md-8"><input type="text" data-ng-model="user.doc.username" required value=""></div>
            </div>
            <div class="row">
                <div class="col-md-4">Emailadres:</div>
                <div class="col-md-8"><input type="text" data-ng-model="user.doc.email"></div>
            </div>
            <div class="row">
                <div class="col-md-4">Wachtwoord:</div>
                <div class="col-md-8"><input type="text" data-ng-model="user.doc.password"></div>
            </div>
            <div class="row">
                <div class="col-md-4">Herhaal wachtwoord:</div>
                <div class="col-md-8"><input type="text" data-ng-model="user.doc.password"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <!--<button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button> Dacht dat het beter zou zijn als deze even weg was -->
                    <button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Wijzigingen opslaan
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <div id="imageHolder" class="col-md-6">
                <div id="holderTxt">
                    <span>Dat ben ik!</span>
                    <span>Upload image..</span>
                </div>
            </div>
        </div>
    </div>
</div>