@font-face {
    font-family: "Abadi MT Condensed Light";
    src: url(fonts/Abadi%20MT%20Condensed%20Light.ttf);
}

html {
    /*background: url("../images/achtergrond-homepage.jpg") no-repeat fixed;*/
    /*background-size: cover;*/
    /*background-position: 0% 100%;*/
    height: 100%;
}

body {
    background-size: cover;
    background: none no-repeat fixed 0% 100%; /* url("../images/achtergrond-homepage.jpg") */
    height: 100%;
    padding-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-size: cover;
    background-position: 0% 100%;
}

h1 > a {
    color: #000000;
}

h2 > a {
    color: #000000;
}

/* HEADER-MENU */
#headerMenuButton {
    display: block;
    background: none;
    background-color: rgb(59, 59, 59);
    outline: 0;
    position: relative;
    float: right;
    padding: 7px 10px;
    background-image: none;
    border-radius: 5px;
    /*border: 1px solid #030303;*/
}

.nav.navbar-nav.navbar-right {
    margin-top: -6px;
}

#headerMenuButton > .icon-bar {
    /*background-color: #888888;*/
    background-color: white;
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#headerMenuButton .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-collapse.collapse {
    height: inherit !important;
}

div.navbar-collapse.collapse > ul > li > a {
    padding-left: 0px;
}

.dropdown-menu {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    top: 54px; /* 55px */
    width: 170px;
    /*left: 90px; had to put this inline to overwrite bootstrap :(*/
    display: block;
    border-radius: 0px;
    margin: 1px 0px;
}

ul.dropdown-menu {
    background-color: rgb(59, 59, 59);
}

ul.dropdown-menu > li > a {
    color: white;
}

ul.dropdown-menu > li > a:hover {
    background: -webkit-linear-gradient(rgb(59, 59, 59), rgb(90, 90, 90), rgb(59, 59, 59)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(59, 59, 59), rgb(90, 90, 90), rgb(59, 59, 59)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(59, 59, 59), rgb(90, 90, 90), rgb(59, 59, 59)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(59, 59, 59), rgb(90, 90, 90), rgb(59, 59, 59)); /* Standard syntax */
    color: white;
}

/* NAV-BAR (header) */
.container {
    width: 100%;
    /*height: inherit;*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-left: 10px;
    padding-right: 0px; /* 10px */
    margin-bottom: -50px; /* moet gelijk zijn aan hoogte footer */
}

.btn.logout {
    font-family: "Abadi MT Condensed Light";
    font-size: 12pt;
}

.btn.login {
    font-family: "Abadi MT Condensed Light";
    font-size: 12pt;
}

.ng-binding {
    font-size: 16px;
}

.navbar {
    height: 60px;
}

.navbar-form {
    margin-top: 10px;
    padding-right: 25px;
}

.ng-pristine.ng-valid {
    margin-top: 0px;
}

.ng-valid.ng-dirty {
    margin-top: 0px;
}

.navbar-form p {
    font-family: "Abadi MT Condensed Light";
    margin: 0px;
}

.nav.navbar-nav {
    margin-top: 5px;
}

.navbar-inverse {
    top: 10px; /* 20px */
    background-image: none; /*linear-gradient(to bottom, #3c012a 0, #22001a 100%);*/
    background-color: rgba(230, 230, 230, 0.9);
    border: none;
    background-repeat: repeat-x;
    height: 50px;
    margin-bottom: 0px;
    /*-webkit-filter: opacity(.5);*/
    /*-moz-filter: opacity(.5);*/
    /*-o-filter: opacity(.5);*/
    /*-ms-filter: opacity(.5);*/
    /*filter: opacity(.5);*/
}

.nav.navbar-nav img {
    width: auto;
    height: 30px;
    margin-top: -8px;
}

#logo {
    /*vertical-align: middle;*/
    padding: 5px 0 0;
}

#logo > div {
    margin: 0;
    display: inline-block;
}

#logo > div > p {
    font-family: "Abadi MT Condensed Light";
    font-size: 18pt;
    color: black;
    margin: 7px 0 0 0;
}

/* FOOTER */
.push {
    height: 50px;
    /* pushes footer to bottom of page */
}

footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    margin-top: 10px;
    /*margin: 10px 0;*/
    background-color: rgb(59, 59, 59);
}

.footerContainer {
    width: auto;
    padding: 0 10px;
}

.footerContainer .text-muted {
    display: inline-block;
}

p.text-muted {
    font-family: "Abadi MT Condensed Light";
    margin: 1em;
    color: #ffffff;
}

p.text-muted > a {
    font-family: "Abadi MT Condensed Light";
    color: #ffffff;
}

.footerContainer img {
    width: auto;
    height: 30px;
}

#contentContainer {
    /*text-align: center;*/
}

#contentContainer ul > li > a {
    color: #000000;
}

#contentContainer h2 {
    width: 4em;
    margin: 0 auto;
}

/* OVER ONS */
.overons {
    width: 99%;
    /*background-color: rgba(230, 230, 230, 1);*/
}

.overons p {
    font-family: "Abadi MT Condensed Light";
    font-size: 14pt;
}

.overons img {
    /*border: 1px white solid;*/
    background: white;
    border-radius: 50%;
    padding: 0;
    margin: 0 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.overons img:hover {
    /*border: 1px white solid;*/
    background: rgb(182, 74, 130);
    border-radius: 50%;
    padding: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.overons .row {
    padding: 15px;
    background-color: rgba(230, 230, 230, 1);
    margin-bottom: 10px;
}

.overons .row .col-md-12 {
    padding: 0;
}

.overons .row .col-md-1 {
    margin: 0 -25px;
}

.overons .row div.col-md-2 {
    text-align: center;
}

.overons .row .col-md-2 p {
    margin: 10px 0;
}

/* MIJN ENQUETES */
#enqueteOverview {
    text-align: left;
    font-family: "Abadi MT Condensed Light";
    font-size: 18pt;
}

#enqueteOverview > h2 {
    /*text-align: left;*/
    width: auto;
}

/*#enqueteOverview > span {*/
    /*text-align: left;*/
/*}*/

#enqueteOverview > .row {
    /*width: 100%;*/
    padding-top: 15px;
}

#enqueteOverview > .row > .col-md-3 {
    /*width: 100%;*/
    height: 100%;
    padding: 20px;
}

#enqueteOverview > .row > .col-md-3 > a {
    padding-top: 20px;
    width: 100%;
    color: rgb(59, 59, 59);
    text-align: center;
    text-decoration: none;
    display: block;
}

#enqueteOverview > .row > .col-md-3 > a:hover {
    background: rgb(182, 74, 130);
}

#enqueteOverview > .row > .col-md-3 > a > .greenContainer {
    width: 100%;
    background: rgb(134, 209, 146);
}

#enqueteOverview > .row > .col-md-3 > a > .greenContainer > img {
    background-color: rgb(90, 90, 90);
    width: 100%;
    height: 24ex;
}

#enqueteOverview > .row > .col-md-3 > a > .greenContainer > span {
    font-size: 21pt;
}

#enqueteOverview > .row > .col-md-3 > a > .greenContainer >  button {
    margin-top: 10px;
}

#enqueteOverview .Enew {
    height: 20%;
}

#enqueteOverview > .row > .Enew > a:hover {
    background: none;
}

#enqueteOverview .addObject {
    width: 100%;
    height: 38ex;
    border-radius: 0px;
    background: rgb(230, 230, 230) url("../images/overview/plus-1.png") no-repeat center;
}

#enqueteOverview .addObject:hover {
    background-image: url("../images/overview/plus-2.png");
}

/* ENQUETE OVERVIEW */
#enqueteOverview2 {
    text-align: center;
    width: 100%;
    font-family: "Abadi MT Condensed Light";
    font-size: 16pt;
}

#enqueteOverview2 span {
    display: block;
    text-align: left;
    padding-left: 20px;
}

#enqueteOverview2 h2.ng-binding {
    font-family: "Abadi MT Condensed Light";
    font-size: 20pt;
    text-align: left;
    padding-left: 20px;
    width: 100%;
}

#enqueteOverview2 > .row {
    padding-top: 15px;
    width: 100%;
}

#enqueteOverview2 > .row > .col-md-3 {
    padding: 20px;
}

#enqueteOverview2 > .row > .col-md-3 > a {
    padding-top: 20px;
    width: 100%;
    display: block;
    font-family: "Abadi MT Condensed Light";
    font-size: 16pt;
    color: rgb(59, 59, 59);
}

#enqueteOverview2 > .row > .col-md-3 > a:hover {
    background: rgb(182, 74, 130);
}

#enqueteOverview2 > .row > .col-md-3 > a > div {
    background-color: rgb(230, 230, 230);
    padding: 40px;
    width: 100%;
}

#enqueteOverview2 > .row > .col-md-3 > a > div > img {
    height: 150px;
}

#enqueteOverview2 > .row > .col-md-3 > a > div > span {
    font-family: "Abadi MT Condensed Light";
    font-size: 16pt;
    position: absolute;
    top: 82%;
    right: 10%
}

#enqueteOverview2 > .row > .col-md-3 > button {
    background: none;
    padding: 20px 0 0;
    width: 100%;
    display: block;
    font-family: "Abadi MT Condensed Light";
    font-size: 16pt;
    color: rgb(59, 59, 59);
    border: none;
    outline: none !important;
}

#enqueteOverview2 > .row > .col-md-3 > button :focus,
#enqueteOverview2 > .row > .col-md-3 > button :active {
    background: none;
}

#enqueteOverview2 > .row > .col-md-3 > button:hover {
    background: rgb(182, 74, 130);
}

#enqueteOverview2 > .row > .col-md-3 > button > div {
    background-color: rgb(230, 230, 230);
    padding: 40px;
    width: 100%;
}

#enqueteOverview2 > .row > .col-md-3 > button > div:active {
    background-color: rgb(230, 230, 230);
}

#enqueteOverview2 > .row > .col-md-3 > button > div > img {
    height: 150px;
}

#enqueteOverview2 > .row > .col-md-3 > button > div > span {
    font-family: "Abadi MT Condensed Light";
    font-size: 16pt;
    position: absolute;
    top: 82%;
    right: 10%
}

/* ENQUETE DETAIL */
.eOverview {
    font-family: "Abadi MT Condensed Light";
    font-size: 20pt;
    width: 99%;
}

#contentContainer > .eOverview h2 {
    width: inherit;
    margin: 0;
}

.eOverview .btnContainer {
    text-align: right;
}

.eOverview .btn {
    color: black;
}

.eOverview #review {
    margin: 0 1px;
}

.eOverview .delete {
    margin: 0 1px;
}

.eOverview .save {
    margin: 0 1px;
}

.eOverview .publiceren {
    margin: 0 1px;
}

.eOverview .fillIn {
    margin: 0 1px;
}

#EnqDetailTable {
    margin: 0 auto;
    width: 70%;
}

#EnqDetailTable > div.col-md-12 {
    padding: 0;
}

#EnqDetailTable > div.col-md-12 > input {
    width: 40%;
}

.col-md-6 input {
    width: 100%;
}

#EnqDetailTable > div.col-md-12 > p {
    font-size: 14pt;
    margin: 20px auto;
}

#EnqDetailTable input {
    background-color: rgba(230, 230, 230, 1);
    border: none;
    padding-left: 5px;
    /*margin-left: 5px;*/
    margin-bottom: 10px;
}

#EnqDetailTable textarea {
    resize: none;
    background-color: rgba(230, 230, 230, 1);
    border: none;
    padding-left: 5px;
}

.tab-pane {
    margin: 0 auto;
    width: 70%
}

.tab-pane > .checkbox {
    display: block;
    padding-left: 0;
}

.row {
    margin: 0 auto;
}

.EList {
    float: none !important;
    padding: 0px 0px 0px 20px;
}

.EDetail {
    display: none;
    float: none !important;
    padding: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.newQuestion {
    float: none !important;
    /*padding: 0px 0px 0px 20px;*/
    border-radius: 0;
}

.newQuestion > a > button {
    border-radius: 0;
}

.newQuestion > .row {
    margin-top: 10px;
}

.newQuestion > .row > .col-md-4 {
    text-align: center;
    padding: 0 5px;
}

/*.newQuestion > .row > .col-md-4 > .tekst > img,*/
/*.newQuestion > .row > .col-md-4 > .foto > img,*/
/*.newQuestion > .row > .col-md-4 > .video > img {*/
/*padding: 15% 0 0;*/
/*}*/

/*.newQuestion > .row > .col-md-4 > .tekst > p,*/
/*.newQuestion > .row > .col-md-4 > .foto > p,*/
/*.newQuestion > .row > .col-md-4 > .video > p {*/
/*margin: 0;*/
/*padding: 5% 0 10%;*/
/*}*/

.newQuestion > .row > .col-md-4 > a:hover,
.newQuestion > .row > .col-md-4 > a:active {
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
}

.newQuestion > .row > .col-md-4 > a > .tekst > img,
.newQuestion > .row > .col-md-4 > a > .foto > img,
.newQuestion > .row > .col-md-4 > a > .video > img {
    padding: 15% 0 0;
}

.newQuestion > .row > .col-md-4 > a > .tekst > p,
.newQuestion > .row > .col-md-4 > a > .foto > p,
.newQuestion > .row > .col-md-4 > a > .video > p {
    color: rgb(51, 51, 51);
    margin: 0;
    padding: 5% 0 10%;
}

/*.newQuestion > .row > .col-md-4 > a > .tekst > p:hover,*/
/*.newQuestion > .row > .col-md-4 > a > .foto > p:hover,*/
/*.newQuestion > .row > .col-md-4 > a > .video > p:hover {*/
/*color: black;*/
/*}*/

/*.newQuestion > .row > .col-md-4 > a > .tekst > p:active,*/
/*.newQuestion > .row > .col-md-4 > a > .foto > p:active,*/
/*.newQuestion > .row > .col-md-4 > a > .video > p:active {*/
/*color: black;*/
/*}*/

.tekst {
    background-color: rgb(247, 153, 15);
}

.foto {
    background-color: rgb(134, 209, 146);
}

/*video isn't supported in this version so we greyed it out*/
.video {
    /*background-color: rgb(182, 74, 130);*/
    background-color: #808080;
}

.newQuestion > .row > .col-md-4 > .video > img {
    padding: 15% 0 0;
}

.newQuestion > .row > .col-md-4 > .video > p {
    color: rgb(51, 51, 51);
    margin: 0;
    padding: 5% 0 10%;
}

.qDetail {
    display: none;
    float: none !important;
    padding: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.qDetail textarea {
    resize: none;
    background-color: rgba(230, 230, 230, 1);
    border: none;
    padding-left: 5px;
}

.questionBox > .row > .col-md-7 > button.btn.delete {
    background: url("../images/editor/prullenbak.png") no-repeat center;
    height: 30px;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-right: 20px;
}

.questionBox > .row > .col-md-7 {
    padding-right: 0px;
}

.questionBox textarea {
    resize: none;
    background-color: rgba(230, 230, 230, 1);
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.questionBox {
    border-top: 1px rgb(182, 74, 130) solid;
    padding-top: 10px;
}

.questionBox input {
    background-color: rgba(230, 230, 230, 1);
    border: none;
    padding-left: 5px;
}

.answerBox > button.btn.delete {
    background: url("../images/editor/prullenbak.png") no-repeat center;
    height: 30px;
    position: absolute;
    margin-left: -45px;
    left: 100%;
    margin-top: -40px;
}

.newAnswer {
    float: none !important;
    padding: 0px 0px 0px 20px;
}

.aDetail {
    display: none;
    float: none !important;
    padding: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.btnBijschrift {
    width: 8em;
    font-size: 14pt;
    display: inline;
}

.addObject {
    width: 100%;
}

.Enew .addObject {
    width: 50%;
}

.addObject.newAbtn {
    width: 35px;
    height: 35px;
    background: none;
    background-image: url("../images/editor/plusje.png");
    background-size: cover;
}

/* REMOVES THAT ANNOYING BLUE OUTLINE */
.newAnswer a :focus,
.newAnswer a :hover,
.newAnswer a :active {
    outline: none !important;
    border-radius: 50%;
    background-image: url("../images/editor/plusje-paars.png");
}

.newAnswer a {
    outline: none;
}

.checkbox {
    display: inline-block;
}

.checkbox + .checkbox {
    margin-top: 10px;
}

.mediaContainer {
    display: inline-block;
    padding-right: 0;
    height: 15ex;
    /*float: right;*/
}

.overlay {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay > .publish {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    padding: 15px 20px;
    border-radius: 10px;
    border: 2px rgb(59, 59, 59) solid;
    background-color: #FFFFFF;
    font-size: 1.2ex;
}

/* REGISTREREN */
#registreren {
    font-family: "Abadi MT Condensed Light";
    text-align: center;
    font-size: 20pt;
}

#registreren h2 {
    width: inherit;
    font-size: 32pt;
}

#registreren table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#registreren td {
    text-align: left;
    padding: 0 5px 0 5px;
}

#registreren input {
    width: 280px;
    height: 60px;
    background-color: rgba(230, 230, 230, 0.9);
    border: none;
}

#registreren span {
    display: block;
}

#registreren .btn.btn-primary.btn-lg {
    font-size: 20pt;
    color: black;
    background-image: none;
    background-color: rgb(134, 209, 146);
    border: none;
    border-radius: 0px;
    width: 570px;
    height: 60px;
    margin-top: 10px;
}

.errorMsg {
    font-size: 14pt;
    color: #FF0000;
}

input.ng-pristine + ul#strength {
    display: none;
}

ul#strength {
    display: block;
    position: absolute;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* MIJN ACCOUNT */
#mijnAccount {
    font-family: "Abadi MT Condensed Light";
    text-align: center;
    font-size: 20pt;
}

#mijnAccount h2 {
    text-align: left;
    padding-left: 1%;
    width: inherit;
    font-size: 28pt;
}

#mijnAccount span {
    font-size: 14pt;
    padding-left: 1%;
    display: block;
    text-align: left;
}

#mijnAccount > .row {
    margin: 0;
    padding-left: 1%;
}

#mijnAccount div {
    text-align: left;
    padding: 0;
    margin-top: 5px;
}

#mijnAccount input {
    padding-left: 5px;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.9);
    border: none;
}

#mijnAccount .btn.btn-primary.btn-lg {
    font-size: 16pt;
    color: black;
    background-image: none;
    background-color: rgb(134, 209, 146);
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
}

div#imageHolder {
    background-color: rgba(230, 230, 230, 0.9);
    height: 7em;
}

div#imageHolder > #holderTxt {
    margin-top: 20%;
}

div#imageHolder > #holderTxt > span {
    width: 100%;
    display: inline-block;
    text-align: center;
}


/* MIJN ACCOUNT */
#uitleg {
    font-family: "Abadi MT Condensed Light";
    text-align: center;
    font-size: 20pt;
   margin-left: -10px;
}

#uitleg h2 {
    text-align: left;
    padding-left: 1%;
    width: 60%;
    font-size: 28pt;
}

#uitleg span {
    font-size: 18pt;
    padding-left: 1%;
    display: block;
    text-align: left;
    width: 60%;
    margin: auto auto 20px;
}

#uitleg > .row {
    margin: 0;
    padding-left: 1%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#uitleg > .row > .col-md-4 {
    padding: 0 30px;
}

#uitleg > .row > .col-md-4 > h2 {
    text-align: center;
    width: 100%;
    margin: auto;
}

#uitleg > .row > .col-md-4 > span {
    font-size: 16pt;
    text-align: center;
    width: 100%;
    margin: auto;
}

#uitleg > .row.features {
    background: rgb(134, 209, 146);
}

#uitleg > .row.promises {
    background: none;
}

#uitleg div {
    text-align: center;
    padding: 0;
    margin-top: 5px;
}

/* TEMPLATES */
.templateContainer {
    font-family: "Abadi MT Condensed Light";
    font-size: 36pt;
}

.templateContainer > .templates {
    background-color: rgb(230, 230, 230);
}

.templateContainer > .templates > .row > .col-md-2 > img,
.templateContainer > .templates > .row > .col-md-2 > a > img {
    background-color: white;
    width: 100%;
}

.templateContainer > .templates > .row > .col-md-2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.templateContainer > .templates > .row > .col-md-12 {
    padding-top: 30px;
}

.templateContainer > .templates > .row {
    text-align: center;
}

.templateContainer > .row > .col-md-12 {
    text-align: center;
}

/* UPLOAD */
.thumbnail {
    max-width: 100%;
    max-height: 100%;
    line-height: 20px;
    margin-bottom: 5px;
    background-color: rgba(230, 230, 230, 1);
    border: none;
    border-radius: 0;
}

.instructionText {
    font-size: 10pt;
}

.upload.btn {
    color: black;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border: 1px solid #cccccc;
}

.upload.btn:hover, .upload.btn:focus {
    color: #333333;
    text-decoration: none;
    background: #e6e6e6 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.mediaContainer input {
    position: absolute;
    margin-top: -35px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 200px;
    font-size: medium;
}

.mediaContainer > div, .thumbnail {
    height: 100%;
}

.controlPanel {
    width: 100%;
    height: 100%;
    display: inline-block;
    top: 0;
    position: absolute;
}

.controlPanel .btnContainer {
    text-align: left;
}

.preview {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* INVOLLEOEN */
#enqueteWrapper {
    display: table;
    table-layout: fixed;
    width: 50%;
}

.sectionWrapper {
    display: table-cell;
    padding: 10px;
}

.sectionWrapper1 {
    display: table-cell;
    border: 1px #808080 solid;
}

.btnCustomEnquete {
    border-radius: 0px;
    color: black;
}

.btnCustomEnquete > img {
    height: 100%;
}

.checkboxResult {
    display: block;

}

.radio {
    display: block;
}

h3 {
    width: 40%;
    font-family: "Abadi MT Condensed Light";
    font-size: 50pt;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin: auto;
}

.resultHeader {
    padding: 40px;
    background-color: rgba(134, 209, 146, 1);
    margin-bottom: 20px;
}

.introText {
    font-family: "Abadi MT Condensed Light";
    font-size: 14pt;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* SINTERKLAAS */
.sinterwrapper {
    text-align: center;
    width: 70%;
    margin: auto;
}

.sinterwrapper .introText {
    width: 50%;
}

.sinterwrapper .col-md-6 > img {
    width: 100%;
}

.sinterwrapper .row.vraag {
    border-top: 1px rgb(182, 74, 130) solid;
    padding: 10px 0;
}

.sinterwrapper > .row > .vraagtext > .row > .col-md-3 > img {
    width: 100%;
}


.publishRow1 > p{
    display: inline-block;
}

.publishRow1 > input{
    margin-right: 10px;
}

.publishRow2 > p{
    display: inline-block;
}

.publishP{
    display: table-cell;
    padding-right: 10%;
}

.publishBTN{
    display: table-cell;
}

.publishTable{
    display: table;
    width: 30%;
}